


body{
  display: flex;
  flex-direction: column;
}

.listaRegistros{
  display: flex;
  align-items: center;
  justify-content: center;
}

.registro{
  display: flex;
  align-items: center;
  width: 40vw;
}